

{% extends "lottoapp/header.html" %}

{% block content %}

    <h3>活動編號: {{event_no}}</h3>
    <div>
        <form method="POST" action="/create_event/">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <label for="活動名稱">活動名稱: </label>
                <input type="text" id="活動名稱" name="event_name" placeholder="請輸入活動名稱" required>
                <br>
                <label >互動類型:</label>


                <input type="radio" id="抽獎活動" name="interaction" value="lottery" required>
                <label for="抽獎活動">抽獎活動</label>


                <input type ="radio" id="回覆貼文" name="interaction" value="auto-reply" required>
                <label for="回覆貼文">回覆貼文</label>
                <br>
                <label for="指定貼文">指定貼文: (預設為最新一篇) </label>
                <select name="option" >
                    {% for key, value in all_posts_dict.items %}
                        <option value="{{ key }}"{% if loop.first %} SELECTED{% endif %} name="all_posts">{{ value }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="datetime">開獎截止: </label>

                <span>
                    日期: <input type="text" class="datepicker" required name="deadline_date" >

                    時間: <input type="text" class="timepicker" required name="deadline_time" >

                </span>



                <br>
                <div>
                    <label >Autopilot:</label>
                    <input type="radio" id="自動巡航" name="autopilot" value="True" required>
                    <label for="自動巡航">自動巡航中</label>


                    <input type ="radio" id="體驗卷" name="autopilot" value="False">
                    <label for="體驗卷">使用體驗卷 X 1 </label>
                </div>

               <div>
                    <label >偵測規則:</label>
                    <input type="checkbox"  name="rules" id="文章按讚" value="like">
                    <label for="文章按讚">文章按讚</label>


                    <input type ="checkbox" name="rules" id="公開分享"  value="share">
                    <label for="公開分享">公開分享 </label>

                    <input type ="checkbox" name="rules" id="標註朋友"  value="tag">
                    <input type ="number" name="tag_num" id="tag朋友數"  value="0">
                    <label for="tag朋友數">tag朋友數 </label>
                </div>

                <script>
                    $(function () {
                    // Initialize appendGrid
                    $('#tblAppendGrid').appendGrid({
                        caption: '獎項/獎品設定',
                        initRows: 1,
                        columns: [
                            { name: 'prize_name', display: '獎項名稱', type: 'text', ctrlAttr: { maxlength: 100 }, ctrlCss: { width: '160px'} },
                            { name: 'item_name', display: '獎品', type: 'text', ctrlAttr: { maxlength: 100 }, ctrlCss: { width: '100px'} },
                            { name: 'winners_num', display: '名額', type: 'text', ctrlAttr: { maxlength: 10 }, ctrlCss: { width: '40px'} },
                            
                        ]
                    });
                    
                });
                </script>
                <div>
                    <table id="tblAppendGrid">
                    </table>
                </div>



                <div>
                    <label for='keywords'>關鍵字過濾: 按下按鈕新增關鍵字</label>
                    <ul id="keywords" name="keywords" size="8">
                        <script type="text/javascript">

                            function addItem(){

                                var li = document.createElement("li");
                                var input = document.getElementById("add");
                                li.innerHTML = input.value;
                                if (input.value != "")
                                    document.getElementById("keywords").appendChild(li);
                                console.log("adding");
                                input.value = ""; }
                            function clearAll(){
                                $("#keywords li").remove();
                            }

                        </script>
                        <input type="text" id="add" size ="50">
                        <input type="button" id="btnAdd" value="新增關鍵字" onclick="addItem()">
                        <input type="button" id="btnReset" value="清除" onclick="clearAll()">


                    </ul>

                </div>


                <hr>


                <div class="response-text">
                    <h3>罐頭回覆範例</h3>
                    <p>
                        序號配發：[用戶名]  您已符合抽獎資格，抽獎序號為 XXXXX 號 <br>
                        本次抽獎將於 <strong>[2018 年 02 月 23 日  18:00]</strong> 自動開出，祝您中獎。<br>
                        資格不符：[用戶名]  需要 <strong>[文章按讚] [公開分享] [Tag 朋友數 2]</strong>等條件同時符合，才具備抽獎資格唷。<br>
                        中獎通知：[用戶名]  恭喜您中獎，獎項為 <strong>[第 x 獎]</strong>，<strong>[獎品為：iPhoneX 乙支]</strong>。請立即點選開獎清單確認中獎資格。<br>
                        開獎連結：<a href="https://lotto.bamboocat.com/{{event_no}}"><strong>https://lotto.bamboocat.com/{{event_no}}</strong></a>
                        <br>
                        （粗體字依據使用者設定而有不同）
                    </p>
                    <label for="self-defined-comment">自訂回覆 : </label>
                    <form action="/event/submit">
                        <textarea rows="4" cols="50" name="self-defined-comment" id="self-defined-comment" placeholder="輸入您自訂的回覆內容">
                        </textarea>
                        <input type="submit" value="新增">
                    </form>

                </div>
                <div>
                    <input type="submit" value="儲存本活動" >
                    <a href="/">
                       <input type="button" value="返回" />
                    </a>
                </div>

            </div>
        </form>
    </div>




{% include "lottoapp/includes/bamboocatsnippet.html" %}
    {% endblock %}